.intro__list {
  list-style-type: none;
  padding-left: 0;
  margin: 33px 0 0 0;
  max-width: 690px;
  min-height: 90px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}
