.website__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: #ffffff;
  margin-bottom: 48px;
}

@media screen and (max-width: 768px) {
  .website__link {
    margin: 0 0 48px 0;
  }
}

@media screen and (max-width: 320px) {
  .website__link {
    margin: 0 0 32px 0;
  }
}
