.header__lang_link {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin-right: 18px;
  text-align: right;
  text-decoration-line: underline;
  opacity: 1;
  transition: opacity 0.3s linear;
}
.header__lang_link:hover {
  opacity: 0.8;
}

.header__lang_link:last-child {
  text-decoration: none;
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .header__lang_link {
    font-size: 18px;
  }
}
